<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>edit</title>
  <link rel="stylesheet"href="css/styleaddpayment.css">

</head>
<body>
<form action="/edit" method="post">

    <div class="login-box">
      <h2>add-payment</h2>

      <div class="user-box">
        <input type="text" name="title" required="">
        <label>title</label>
      </div>

      <div class="user-box">
        <label>description</label><br>
        <input type="text" name="description"   required="">


      </div>
      <div class="user-box">
        <input type="text" name="category" required="">
        <label> category</label>
      </div>
      <div class="user-box">
        <input type="number" name="amount" required="">
        <label> amount</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" value="addPayment">
      </a>
<
     </div>
  </form>
    </body>
</html>
